.b-light {
	float: right;
	position: relative;
	right: 5%;
	top: -15px;

	&__cord {
		position: relative;
		background-color: #303030;
		width: 2px;
		height: 100px;
		margin-left: -1px;

		transform-origin: 0 0;
		animation: cord-sway 1.7s ease-in-out 0s infinite alternate;

		// bulb holder
		&:after {
			content: " ";
			left: -5px;
			top: 100%;
			position: absolute;
			border-bottom: 15px solid #303030;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			height: 0;
			width: 12px;
		}
	}

	&__bulb {
		width: 48px;
		height: 48px;
		top: 100%;
		left: 0;
		margin-top: 15px;
		margin-left: -24px;
		border-radius: 100%;

		animation: bulb-sway 1.7s ease-in-out 0s infinite alternate;

		&--off {
			border: 1px solid #e0e0e0;
			background: rgba(200, 200, 200, 0.05);
			box-shadow: inset 0px 1px 5px rgba(200, 200, 200, 0.1),
			inset 0px 2px 20px rgba(200, 200, 200, 0.6);
		}

		&--on {
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0 0 70px rgb(248, 236, 0),
			inset 0 0 45px rgb(255, 216, 0);
		}
	}

}

@keyframes cord-sway {
	from {
		transform: rotate(3deg);
	} to {
		transform: rotate(-3deg);
	}
}

@keyframes bulb-sway {
	from {
		transform: rotate(0.5deg) translate(-7px, -0.5px);
	} to {
		transform: rotate(0.5deg) translate(7px, -0.5px);
	}
}