$glass-colour: #c8c8c8;
$glow-colour: #f8ec00;
$glow-colour-inner: #ffd800;

.b-light {
	position: relative;
	top: -15px;

	&__cord {
		position: relative;
		left:50%;
		background-color: #303030;
		width: 2px;
		height: 100px;
		margin-left: -1px;

		// bulb holder
		&:after {
			content: " ";
			left: -5px;
			top: 100%;
			position: absolute;
			border-bottom: 15px solid #303030;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			height: 0;
			width: 12px;
		}
	}

	&__bulb {

		width: 48px;
		height: 48px;
		top: 100%;
		position: relative;
		left: 50%;
		margin-top: 15px;
		margin-left: -24px;
		border-radius: 100%;
		cursor: pointer;

		&--brightness {

			&-0 {
				border: 1px solid #e0e0e0;
				background: rgba($glass-colour, 0.05);
				box-shadow: inset 0px 1px 5px rgba($glass-colour, 0.3),
				inset 0px 2px 30px rgba($glass-colour, 0.6);
			}

			&-25 {
				background: rgba(lighten($glass-colour, 20%), 0.7);
				box-shadow: 0 0 70px rgba($glow-colour, 0.5),
				inset 0 0 50px rgba(darken($glow-colour-inner, 5%), 1);
			}

			&-50 {
				background: rgba(lighten($glass-colour, 20%), 0.7);
				box-shadow: 0 0 70px rgba($glow-colour, 0.65),
				inset 0 0 50px rgba(darken($glow-colour-inner, 1%), 1);
			}

			&-75 {
				background: rgba(lighten($glass-colour, 20%), 0.7);
				box-shadow: 0 0 70px rgba($glow-colour, 0.65),
				inset 0 0 40px rgba(darken($glow-colour-inner, 0%), 1);
			}

			&-100 {
				background: rgba(white, 0.9);
				box-shadow: 0 0 70px $glow-colour,
				inset 0 0 40px rgba($glow-colour-inner, 0.85);
			}
		}
	}

}
